*.o
*.a
*.d
bin/

.claude/
.venv/
.DS_Store
list.todo

**/xdg-shell-client-protocol.h
**/xdg-shell-protocol.c
**/xdg-decoration-unstable-v1-client-protocol.h
**/xdg-decoration-unstable-v1-protocol.c
**/xdg-decoration-client-protocol.h
**/xdg-decoration-protocol.c

**/*.wasm
**/*.js.map
emscripten-cache/

/*.txt
!/8-points.txt
/*.sh
