bin/
*.o
poingo
icon_maker
make-poingo-png
test_*
!test_*.c
xdg-shell-client-protocol.h
xdg-shell-protocol.c
xdg-decoration-unstable-v1-client-protocol.h
xdg-decoration-unstable-v1-protocol.c
presentation-time-client-protocol.h
presentation-time-protocol.c

icon_*.bmp
icon_*.png

/poingo_*.png

third_party/sysroot/
*.swp
.DS_Store
compile_commands.json
.vscode/
.zed/
.idx/
.venv/
frame.samples

handoff*
